<!DOCTYPE html>
<html lang="en">
<head> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EsokKanMasihAda Bot</title>
</head>
<body>
    <div class="chat-box">
        <!-- client -->
        <div class="client"> 
            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="logo" />
            <div class="client-info">
                <h2>EsokKanMasihAda Bot</h2>
                <p>online</p>
            </div>
        </div>

        <!-- main chat section -->
        <div class="chats" id= "chats">

        </div>

        <!-- input field section -->
        <div class="chat-input">
            <input type="text" placeholder="Enter Message" id="inputText"/>
            <button class="send-btn" id="sendButton">
                <img src="{{ url_for('static', filename='assets/send.png') }}" alt="send-btn">
            </button>
        </div>
    </div>

    <!-- button -->
    <div class="chat-btn">
        <img src="{{ url_for('static', filename='assets/Circle-icons-chat.svg.png') }}" alt="chat box icon btn">
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>