<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Sign Up</h1>
                <hr>

                <div class="form-group">
                    <label for="">Username</label>
                    <input type="text" class="form-control" name="line" id="txt">
                </div>

                <button type="submit" onclick="sendToFlask();" id="submitbtn">
                    Submit
                </button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>